// Mode Switches aka checkboxes
// ------------------------------------------------------------
.powerswitches
  width 100vw
  min-height 100vh
  background darken(LightOn, 95%)
  display flex
  bs-font-size(BaseUIUnit / 2.2)
  justify-content space-evenly
  align-items center
  flex-wrap wrap
  color LightOn
  text-transform uppercase
  font-weight 700
  &--text
    text-transform unset
    font-weight unset
    flex-direction column
    .powerswitches__light_label
      width BaseUIUnit * BS * 1
      height BaseUIUnit * BS * 1
      margin-bottom BS * 10
    .powerswitches__bulbs_wrapper
      display flex
      width BS * 400
      justify-content space-evenly
